{% extends "booth/master-booth.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript">
function bumperPress()
{
    window.location.href = '{% url "booth-prize" quiz.id %}';
    return false;
}
</script>

<style>
    @font-face {
        font-family: OCRABold;
        src: url({% static 'booth/img/OCRABold.ttf' %});
    }
    div#score {
        position: absolute;
        top: 357px;
        left: 530px;
        width: 400px;
        font-family: OCRABold;
        font-size: 120px;
        font-weight: bolder;
        color: whitesmoke;
        text-align: right;
    }
</style>

<div id="background">
    <img src="{% static 'booth/img/score.png' %}" />
</div>

<div id="score">
    {{ quiz.score }}
</div>

{% endblock content %}