{% extends "booth/master-booth.html" %}
{% load staticfiles %}
{% block content %}


<script type="text/javascript">
function bumperPress()
{
    window.location.href = {% url "booth-adscreen" %};
    return false;
}
</script>

<style>
    @font-face {
        font-family: OCRABold;
        src: url({% static 'booth/img/OCRABold.ttf' %});
    }
    #cheater {
        font-family: OCRABold;
        text-align: center;
        position: absolute;
        top: 400px;
        left: 474px;
        width: 560px;
        font-size: 45px;
        color: whitesmoke;
    }
</style>

<div id="background">
    <img src="{% static 'booth/img/wrong.png' %}" />
</div>

<div id="cheater">{{ code }}</div>

{% endblock content %}